<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.rockwellcollins.com/atc/agree/Agree" 
       class = "com.rockwellcollins.atc.agree.agree.AgreePackage"
       genModel = "model/generated/Agree.genmodel" /> 
  </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.rockwellcollins.atc.agree.Agree"
            class="com.rockwellcollins.atc.agree.preferences.AgreePreferencePage"
            id="com.rockwellcollins.atc.agree.preferences.AgreePreferencePage"
            name="Validation">
            <keywordReference id="com.rockwellcollins.atc.agree.ui.keyword_Agree"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.rockwellcollins.atc.agree.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
